.intro {
  margin: 92px auto;
  max-width: calc(100% - 296px);
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    max-width: calc(100% - 96px);
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  .intro {
    margin: 88px auto;
  }
}

@media (min-width:426px) and (max-width: 768px) {
  .intro {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 425px) {
  .intro {
    margin: 64px auto;
    max-width: calc(100% - 32px);
  }
}
