.cover {
  margin: 92px auto 92px auto;
  padding: 0;
  position: relative;
  display: grid;
  width: fit-content;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover {
    margin: 90px 0 88px 0;
  }
}

@media (max-width: 767px) {
  .cover {
    margin: 66px 0 64px 0;
  }
}
