.place__link {
  max-width: fit-content;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  transition: ease-in-out .1s;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.place__link:hover {
  opacity: .5;
}
