.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  list-style: none;
}

@media (max-width: 767px) {
  .footer__list {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .footer__list {
    flex-direction: row;
  }
}
