.footer {
  margin: 0 auto 24px auto;
  max-width: calc(100% - 96px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .footer {
    width: 186px;
    flex-direction: column;
    justify-content: left;
    margin-left: 16px;
  }
}
